Repository kaze-k/kanboard: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, stylelint, check-types

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: npx prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files}
    check-types:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

feat: 用户模块、项目模块
  .env
  .env.development
  .env.production
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/api/ApiRequest.ts
  src/api/services/projects.ts
  src/api/services/users.ts
  src/components/AccountDropdown.tsx
  src/components/Background.tsx
  src/components/FullscreenButton.tsx
  src/components/LoginForm.tsx
  src/components/userCreateModal.tsx
  src/components/userEditModal.tsx
  src/components/usersTable.tsx
  src/hooks/index.ts
  src/layout/header.tsx
  src/layout/index.tsx
  src/layout/nav.tsx
  src/layouts/content.tsx
  src/layouts/header.tsx
  src/layouts/index.tsx
  src/layouts/nav.tsx
  src/main.tsx
  src/pages/dashboard.tsx
  src/pages/login.tsx
  src/pages/messages.tsx
  src/pages/page404.tsx
  src/pages/projectInfo.tsx
  src/pages/projects.tsx
  src/pages/userInfo.tsx
  src/router/index.ts
  src/stores/userStore.ts
  src/styles/antd.scss
  src/styles/background.scss
  types/api.ts
  types/store.ts
Due: format, lint, stylelint, check-types

chore: 项目配置
  lefthook.yaml
Due: none

chore: 重新调整项目
  .env
  config/vite.config.base.ts
  index.html
  package.json
  src/App.tsx
  src/api/services/projects.ts
  src/api/services/users.ts
  src/assets/logo.png
  src/components/LoginForm.tsx
  src/components/userCreateModal.tsx
  src/components/userEditModal.tsx
  src/components/usersTable.tsx
  src/layouts/nav.tsx
  src/main.tsx
  src/pages/dashboard.tsx
  src/pages/kanboard.tsx
  src/pages/login.tsx
  src/pages/me.tsx
  src/pages/messages.tsx
  src/pages/project.tsx
  src/pages/projectInfo.tsx
  src/pages/projects.tsx
  src/pages/taskInfo.tsx
  src/pages/userInfo.tsx
  src/router/index.ts
  types/api.ts
Due: format, lint, check-types

style: 格式化代码
  src/api/services/projects.ts
Due: format, lint, check-types

feat: 修改
  src/components/LoginForm.tsx
  src/layouts/content.tsx
  src/layouts/header.tsx
  src/layouts/nav.tsx
  src/router/index.ts
  src/styles/antd.scss
Due: format, lint, stylelint, check-types

feat: 看板组件
  package.json
  pnpm-lock.yaml
  src/components/kanboard/BoardColumn.tsx
  src/components/kanboard/TaskCard.tsx
  src/components/kanboard/index.tsx
  src/components/kanboard/multipleContainersKeyboardPreset.ts
  src/components/kanboard/scroll-area.tsx
  src/components/kanboard/utils.ts
  src/layouts/content.tsx
  src/layouts/nav.tsx
  src/pages/kanboard.tsx
  src/router/index.ts
Due: format, lint, check-types

style: 格式化代码
  src/components/kanboard/multipleContainersKeyboardPreset.ts
  src/components/kanboard/scroll-area.tsx
  src/components/kanboard/utils.ts
Due: format, lint, check-types

feat: 用户端功能完善
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/ApiRequest.ts
  src/api/services/projects.ts
  src/api/services/tasks.ts
  src/api/services/users.ts
  src/components/AccountDropdown.tsx
  src/components/LoginForm.tsx
  src/components/kanboard/BoardColumn.tsx
  src/components/kanboard/TaskCard.tsx
  src/components/kanboard/index.tsx
  src/components/kanboard/utils.ts
  src/components/projectSwitcher.tsx
  src/layouts/header.tsx
  src/layouts/nav.tsx
  src/main.tsx
  src/pages/createTask.tsx
  src/pages/home.tsx
  src/pages/me.tsx
  src/pages/project.tsx
  src/pages/taskInfo.tsx
  src/pages/userInfo.tsx
  src/router/index.ts
  src/stores/userStore.ts
  src/styles/custom.scss
  src/utils/index.ts
  types/api.ts
  types/store.ts
Due: format, lint, stylelint, check-types

style: 格式化代码
  src/api/services/tasks.ts
  src/components/kanboard/BoardColumn.tsx
Due: format, lint, check-types

feat: 完成
  .env.development
  .env.production
  src/api/services/message.ts
  src/api/services/users.ts
  src/components/MessageButton.tsx
  src/layouts/header.tsx
  src/layouts/index.tsx
  src/pages/createTask.tsx
  src/pages/home.tsx
  src/pages/me.tsx
  src/pages/project.tsx
  src/pages/taskInfo.tsx
  src/router/index.ts
  src/stores/userStore.ts
  src/webSocketProvider.tsx
  types/api.ts
  types/store.ts
Due: format, lint, check-types

style: 格式化代码
  src/api/services/message.ts
  src/pages/me.tsx
  src/webSocketProvider.tsx
Due: format, lint, check-types

feat: 完善用户信息推送
  src/components/MessageButton.tsx
  src/webSocketProvider.tsx
Due: format, lint, check-types

feat: 完善任务状态更新推送
  src/components/MessageButton.tsx
  src/components/kanboard/BoardColumn.tsx
  src/components/kanboard/TaskCard.tsx
  src/pages/home.tsx
Due: format, lint, check-types

fix: 数据验证
  src/api/ApiRequest.ts
  src/components/LoginForm.tsx
  src/components/MessageButton.tsx
  src/pages/home.tsx
  src/pages/me.tsx
  src/pages/taskInfo.tsx
Due: format, lint, check-types

feat: 修复空值问题
  src/pages/home.tsx
  src/pages/project.tsx
  src/stores/userStore.ts
  src/webSocketProvider.tsx
Due: format, lint, check-types

fix: 更新逻辑
  src/pages/home.tsx
Due: format, lint, check-types

fix: 更新推送
  src/components/MessageButton.tsx
Due: format, lint, check-types

feat: tauri版本
  .gitignore
  package.json
  pnpm-lock.yaml
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/icons/48x48.ico
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/hooks/index.ts
  src/layouts/header.tsx
Due: format, lint, check-types

feat: tauri版本
  src-tauri/capabilities/default.json
  src-tauri/tauri.conf.json
Due: format

fix: tauri环境接口问题
  .env.tauri
  .gitignore
  config/vite.config.tauri.ts
  package.json
  src-tauri/tauri.conf.json
  src/hooks/index.ts
  src/layouts/header.tsx
  src/webSocketProvider.tsx
  vite.config.ts
Due: format, lint, check-types

fix: 页面错误页，边界处理
  src/main.tsx
  src/pages/errorPage.tsx
  src/pages/loadingPage.tsx
  src/pages/me.tsx
  src/router/index.ts
Due: format, lint, check-types

fix: 文本修改
  src/pages/project.tsx
Due: format, lint, check-types
